/* Our CSS file. */


.container, .content {
width: 100%;
}
.sec1, .sec2{
    width: 100%;
}
.my-list, .img-1, .img-2, .my-heading{
    display: inline-block;
    width: 49%;
}
.my-list{
    vertical-align:top;
    margin-top:15%;
    font-size:20px ;
}
.img-1 img, .img-2 img{
    width: 99%;
}
.my-heading{
    text-align: center;
    vertical-align:top;
    margin-top: 25%;
}